body {
    background-image: url('../img/bg1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

p, li {
    font-size: 16px;
    font-weight: normal;
}

p, li, h1, h2, h3 {
    font-family: "Bree Serif", serif;
}

.container {
    width: 880px;
    padding: 60px;
    border-radius: 40px;
    background-color: rgba(240, 248, 255, 0.9);
    margin: 40px 0px;
}

.head-container {
    justify-content: space-between;
    background-image: url('../img/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.right-container {
    padding: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

.right-container {
    text-align: end;
    padding: 20px;
}

.image img {
    height: 150px;
    border-radius: 50%;
    padding: 10px;
}

.title {
    font-size: 32px;
}

.headline {
    font-size: 22px;
}

.intro {
    text-align: left;
    padding-top: 15px;
}

.education, .projects, .skills {
    padding-top: 15px;
}

.education ul {
    padding-left: 16px;
}

.education ul ol {
    padding-left: 16px;
}

.projects ul {
    padding-left: 16px;
}

.skills ul {
    padding-left: 16px;
}

.links {
    justify-content: space-evenly;
    margin-top: 20px;
}

.links a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.links img {
    width: 48px;
    background-color: white;
    border-radius: 50%;
}


#headline-2 {
    display: none;
}


@media only screen and (max-width: 900px) {
    .container {
        width: 100%;
        border-radius: 0px;
        margin: 0px;
    }
}

@media only screen and (max-width: 760px) {
    #headline-2 {
        display: block;
    }

    #headline-1 {
        display: none;
    }
} 

@media only screen and (max-width: 670px) {
    .head-container {
        flex-direction: column;
    }

    .right-container {
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    .right-container {
        padding: 5px;
    }

    .image img {
        padding: 0px;
    }

    .container {
        padding: 20px;
    }
}

@media only screen and (max-width: 400px) {
    #headline-2 {
        display: none;
    }

    .right-container {
        padding: 10px;
    }
}